<div class="container">
    <h1 style="text-align:center; padding-top: 20px; padding-bottom: 40px;"><%= title%> Me</h1>
    <img src="../content/images/IMG_1710.jpg" width="250" class="rounded" style="float:left; padding-right:10px; margin-bottom: 60px;">
    <p style="font-size:larger;">Cathy Da is a Health Informatics Technology student at Centennial College. 
        Interested in healthcare and technology, she enjoys analyzing and finding ways that our current healthcare system can improve. 
        Although her main focus is the healthcare system, Cathy is interested in learning new technology and improving her skills as a developer.
    </p>
    <p style="font-size:larger;">In her free time, Cathy likes going out with friends to eat delicious food.</p>
    <p><a href="../content/Resume.pdf" style="clear:left; text-decoration:none;">Cathy's Resume</a></p>
</div>