<div class="container">
    <h1 style="text-align:center; padding-top: 20px; padding-bottom: 20px;"><%= title%></h1>
    <a href="/about"><img src="../content/images/large_icon.png" style="display: block; margin: auto;"></a>
    <h2 style="text-align:center">Mission Statement</h2>
    <h4 style="text-align:center; margin-bottom: 50px;">An aspiring developed looking to learn, grow, and improve for the betterment of our healthcare system</h4>
</div>