<div class="container">
    <h1 style="text-align:center; padding-top: 20px; padding-bottom: 20px;"><%= title%></h1>
    <div class="list-group" style="padding-bottom: 50px;">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Catalog Application</h5>
            <small class="text-muted">C#</small>
          </div>
          <p class="mb-1">
            A C# Windows Form application programmed by myself. Allows the user to load a text file into the application and display the catalog
            in a table format. Users can add in additional items to the file and have the option of saving the file every few seconds.
          </p>
          <img src="../content/images/catalog_application.png" height="400px">
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Weather Web Application</h5>
            <small class="text-muted">HTML, JavaScript, CSS</small>
          </div>
          <p class="mb-1">
            A solo project used to demonstrate the use of JavaScript and APIs. This web application asks the user permission to use
            their location to display their current weather. In addtion, the user can enter a city to determine the local weather there. The design
            of the site was created by Cathy. The weather icons and API sourced from OpenWeatherMap.
          </p>
          <img src="../content/images/weather_web_app.png" height="400px">
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Health Tracker Software Requirements Specification Document</h5>
          </div>
          <p class="mb-1">
            A group project detailing an imaginary Health Tracker App for people with risk of developing ischemic heart disease. As one of the key
            teammates, Cathy helped develop the software requirements and several UML diagrams. Namely, the Use Case Diagram and State Diagrams.
          </p>
          <img src="../content/images/SRS.png" height="400px">
        </div>
      </div>
</div>