<div class="container">
    <h1 style="text-align:center; padding-top: 20px; padding-bottom: 20px;"><%= title%></h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h3>General Programming</h3>
            <small class="text-muted">C#, PL/SQL</small>
        </li>
        <li class="list-group-item">
            <h3>Web Development</h3>
            <small class="text-muted">HTML, CSS, JavaScript</small>
        </li>
        <li class="list-group-item" style="margin-bottom:50px;">
            <h3>Database Analysis</h3>
            <small class="text-muted">SAS</small>
        </li>
      </ul>
</div>